.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.click-here {
    background-color: #313131;
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
}